Text / String

In [ ]:
"abc123jjjlkjadlka"

'skjdalksjdalkjd'


'Budi kemarin bilang: "hari ini saya telat"'

In [23]:
stringA = 'Budi kemarin bilang: "hari ini saya telat"'

In [22]:
stringA

'Budi kemarin bilang: "hari ini saya telat"'

fitur2 string:
- .lower() -> mengubah menjadi lowercase
- .upper() -> mengubah menjadi UPPERCASE
- .swapcase() -> menukarkan lowercase/uppercase

In [2]:
'Budi kemarin bilang: "hari ini saya telat"'.upper()

'BUDI KEMARIN BILANG: "HARI INI SAYA TELAT"'

In [4]:
# concat -> menggabungkan string
"hello" + " " + "world"

'hello world'

In [6]:
# mengulang karakter/string
"hello" * 3

'hellohellohello'

Numeric: bilangan bulat (integer)

In [ ]:
12324123

-100

bilangan decimal (float)

In [ ]:
1.2 
-2.4

1.0

0.1

In [9]:
intergerA = .1e7

1000000.0

sequence: deretan

list

In [ ]:
data =  [1,2,3,'a','b','c','%']
index =  0 1 2  3  ...

In [ ]:
# nested -> contoh: ada list dalam list

data =      [1, 2, 3, ['a','b','c']]
index=       0  1  2        3
index dalam=            0   1   2

In [53]:
# membuat list baru
listAngka = [1,2,3,4,5]
          #  0 1 2 3 4
# menambahkan data baru ke dalam list (.append)
listAngka.append(99)

# menghapus data existing dari list
listAngka.remove(3)

In [54]:
listAngka.append(['a','b'])

In [55]:
# mengubah salah satu data yang ada di list
listAngka[4] = 'ABC'

In [58]:
listAngka

[1, 2, 4, 5, 'ABC', ['a', 'b']]

In [ ]:
# menampilkan salah satu data yang ada di list
listAngka[4]

In [41]:
listAngka

[1, 2, 4, 5, 'ABC', ['a', 'b']]

In [43]:
# menampilkan salah satu data yang ada di list nested
newList = listAngka[5]
newList[0]

'a'

In [46]:
# slicing -> mengambil sebagian/beberapa data dari list
# [2, 4, 5, 'ABC']
listAngka[1:5] = [3, 6, 7, 9]

In [49]:
# slicing dari index 1 sampai data terakhir dari list
listAngka[1:]

[3, 6, 7, 9, ['a', 'b']]

In [50]:
# slicing dari data pertama sampai index 4
listAngka[:4]

[1, 3, 6, 7]

In [47]:
listAngka[1:5]

[3, 6, 7, 9]

In [48]:
listAngka

[1, 3, 6, 7, 9, ['a', 'b']]

In [59]:
# reverse list -> membalikkan posisi data pada list
listAngka.reverse()

In [60]:
listAngka

[['a', 'b'], 'ABC', 5, 4, 2, 1]

tuple
- tidak bisa diubah (immutable)

In [ ]:
(1,2,3,'a','b','c','%')

In [62]:
tupleAngka = (1,2,3,4,5)

In [65]:
tupleAngka[1:4]

(2, 3, 4)

mapping: dictionary

In [ ]:
# format
# "key": value
{
    "key1":1,
    "key2":2,
    "key3":3,
    "key4": {
        "kunci1": 'A'
    }
}

In [66]:
dictData = {
    "data1": 'ABC',
    "data2": True,
    "data3": [1,2,3],
    "data4": {
        "key1": 123
    }
}

In [68]:
# menampilkan salah satu data di dict
dictData["data1"]

In [77]:
# menampilkan data nested
dictData["data4"]["key1"]

123

In [70]:
# mengubah salah satu data di dict
dictData["data1"] = 4.123

In [72]:
# menambahkan data baru ke dictionary
dictData["foo"] = "bar"

In [74]:
# menghapus data existing
# - keyword "del"
# - fitur .pop()
del dictData["foo"]

In [75]:
dictData

{'data1': 4.123, 'data2': True, 'data3': [1, 2, 3], 'data4': {'key1': 123}}

boolean

In [ ]:
True
False

In [10]:
# comparison
10 > 20

False

operator / symbol
- assignment
    - symbol: =
- arithmetic
    - symbol: + - * / % ** //
- comparison
    - symbol: == > >= < <= !=

variable -> tempat menampung data (sementara)
- style penamaan variable
    - snake_case
    - camelCase
    - PascalCase
    - lowercase
    - UPPERCASE

- aturan penamaan
    - karakter #1 harus berupa huruf atau _
    - tidak boleh ada spasi di dalam nama variable

In [18]:
variableA = "ini data untuk variableA"