# LATIHAN - P0W1D3AM : Conditional & Looping

**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [ ]:
a = 100
b = 200
if a < b:
    print('a lebih kecil dari b')

a lebih kecil dari b

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [ ]:
a = 100
b = 200
if a > b:
    print('a lebih besar dari b')
else:
    print('a lebih kecil dari b')

a lebih kecil dari b

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [ ]:
a = 'januari'
b = 'februari'

if a != b:
    print(f"{a} tidak sama dengan {b}")
else:
    print(f"{a} sama dengan {b}")

januari tidak sama dengan februari

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

In [ ]:
  a = 1000
  b = 1000.0
  if a == b:
    pass
  else:
    print('a tidak sama dengan b')

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [4]:
a = [1, 3, 5, 7]
b = [2, 4, 6, 8]

if a != b:
    print('angka_ganjil berbeda dengan angka_genap')
else:
    print('angka_ganjil sama dengan angka_genap')

angka_ganjil berbeda dengan angka_genap

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini mempunyai nilai atau tidak

* `nama` = `budi`
* `usia` = 20
* `jenis_kelamin_pria` = True
* `alamat` = `None`
* `jumlah_motor` = 0
* `punya_rumah` = `False`

Jika True maka tulis/cetak `ada`

Jika False maka tulis/cetak `tidak ada`

In [5]:
nama = "budi"
usia = 20
jenis_kelamin_pria = True
alamat = None
jumlah_motor = 0
punya_rumah = False

if nama:
    print("ada")
else:
    print("tidak ada")

if usia:
    print("ada")
else:
    print("tidak ada")

if jenis_kelamin_pria:
    print("ada")
else:
    print("tidak ada")

if alamat:
    print("ada")
else:
    print("tidak ada")

if jumlah_motor:
    print("ada")
else:
    print("tidak ada")

if punya_rumah:
    print("ada")
else:
    print("tidak ada")

ada
ada
ada
tidak ada
tidak ada
tidak ada

**NOMOR 7**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini termasuk salah satu nilai dari variabel lain atau tidak

* *`pendidikan` = `s1`* terhadap *`daftar_pendidikan` = ['s1', 's2', 's3']*
* *`nama` = `budi`* terhadap *`nama_lengkap` = `budi kurniawan`*

Jika True maka tulis/cetak `merupakan bagian`

Jika False maka tulis/cetak `bukan merupakan bagian`

In [8]:
pendidikan = "s1"
daftar_pendidikan = ['s1', 's2', 's3']

nama = "budi"
nama_lengkap = "budi kurniawan"

if pendidikan in daftar_pendidikan:
    print("merupakan bagian")
else:
    print("bukan merupakan bagian")

if nama in nama_lengkap:
    print("merupakan bagian")
else:
    print("bukan merupakan bagian")

merupakan bagian
merupakan bagian

**NOMOR 8 (IF ELIF)**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [9]:
a = 100
b = 100

if a < b:
  print("a lebih kecil dari b")
elif a > b:
  print("a lebih besar dari b")
else:
  print("a sama dengan b")

a sama dengan b

**NOMOR 9 (NESTED IF)**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000 dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000 dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000

In [11]:
uang = 0

if uang != 0:
  if uang >= 15000:
    print("nasi goreng")
  elif 10000 <= uang < 15000:
    print("ketoprak")
  elif 5000 <= uang < 10000:
    print("batagor")
  elif uang < 5000:
    print("es teh manis")
else:
    print("tidak beli")

tidak beli

**NOMOR 10**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [18]:
for i in range(5):
    print("hello ",end="")

hello hello hello hello hello

In [27]:
a = 0
while a < 5:
    print("hello ",end="")
    a += 1

hello hello hello hello hello

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [16]:
for i in range(6):
    print(i, end=" ")

0 1 2 3 4 5

In [28]:
i = 0
while i < 6:
    print(i,end="")
    i += 1

012345

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [23]:
for i in range(3,6):
  print(i , end="")

345

In [36]:
a = 3
while a <= 5:
    print(a, end = ' ')
    a+= 1

3 4 5

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [22]:
for i in range(1, 11, 3):
    print(i, end=" ")

1 4 7 10

In [37]:
i = 1
while i <= 10:
  print(i, end=" ")
  i+=3

1 4 7 10

**NOMOR 14**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [30]:
for i in range(1, 11):
    if i == 9:
        break
    print(i, end=" ")

1 2 3 4 5 6 7 8

In [47]:
i = 0
while i <= 10:
  i += 1
  if i == 9:
    break
  print (i, end=" ")

1 2 3 4 5 6 7 8

**NOMOR 15**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10` dan angka tersebut kurang dari sama dengan 6

*Hasil : 2 4 6*

In [32]:
for i in range(1,11):
  if i % 2 == 0 and i <= 6:
    print(i, end="")

246

In [40]:
i=1
while i < 10:
  i += 1
  if i % 2 == 0 and i <= 6:
   print(i, end=" ")

2 4 6

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini :

* `daftar_nama` = `['anwar', 'budi', 'cecep', 'deny']`

In [52]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny']

for nama in daftar_nama:
  print(nama, end = '')

anwarbudicecepdeny

In [1]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny']
index = 0

while index < len(daftar_nama):
  print(daftar_nama[index], end = ' ')
  index += 1

anwar budi cecep deny