# String (Text)

In [ ]:
"abc123qwerty"
'poiuytrewq'

"Hari ini saya makan 'steak'"

fitur-fitur string:
upper : all caps
lower : all lowercase
swapcase : tukeran

In [ ]:
stringA = "Hari ini saya makan 'steak'".upper()

In [ ]:
print(stringA)

In [4]:
#concat : gabungin string
"hello"+"world"

'helloworld'

In [1]:
#mengulang karakter
"hello"*3

'hellohellohello'

# Numeric : 
Bilangan Bulat (Integer)

In [ ]:
123456789

Float

In [ ]:
1.2
2.3

# Sequence (Deret)

List

In [ ]:
data = [1,2,3,'a','b','c']
index = 0

In [10]:
#membuat list baru
listdata = [1,2,3,'a','b','c']

#nambah data ke list
listdata.append(99)

#hapus data ke list
listdata.remove(2)

[1, 2, 3, 'a', 'b', 'c', 99]

In [ ]:
#nested : list dalam list

[1,2,3[a,b,c]]

In [12]:
listdata = [1,2,3,'a','b','c']
#nampilin salah satu data
listdata[4]

#mengubah satu data
listdata[3] = 'ABC'

#nampilin data dari list nested
newlist = listdata[3]
newlist[0]

#atau bisa juga
newlist[3][0]

In [14]:
#slicing : mengambil beberapa data
# [3,'a' ]
listdata = [1,2,3,'a','b','c']
listdata[2:4]

#[1:] : data kedua sampai terakhir
#[:3] : data awal sampai ketiga

#reverse list : membalik urutan data
listdata.reverse()

Tuple
(tidak bisa dirubah)

In [ ]:
(1,2,3,'a','b','c')

In [15]:
tupleAngka = (1,2,3,4,5)

tupleAngka[2:4]

(3, 4)

# Mapping : Dictionary

In [ ]:
# format
# key: value
{
    "key1":1,
    "key2":2,
    "key3":3,
    "key4": {"kunci1": 'A'}
}

In [16]:
dictData = {
    "data1": 'ABC',
    "data2" : True,
    "data3" : [1,2,3],
    "data4" : {"key1":123}
}

In [17]:
#menampilkan salah satu data di dict
dictData["data1"] = 3.14

In [19]:
#menambah data baru ke dict
dictData["data5"] = "baru"

In [21]:
#menghapus existing data
del dictData["data5"]

# Boolean

In [ ]:
True
False

In [5]:
#comparison
10 > 20

False

Operator / Symbol
- Assignment
    - symbol: =
- Arithmetic
    - symbol: + - * / % ** //
- Comparison
    - symbol: == > >= < <= !=

Variable: tempat menampung data (sementara)
- style penamaan variable
    - snake_case
    - camelCase
    - PascalCase

- aturan penamaan
    - karakter #1 harus huruf atau _
    - tidak boleh ada spasi di dalam nama variabel

In [ ]:
varA = "ini data untuk variable A"