In [ ]:
# import
import pandas as pd

# loading data
# csv, excel, pdf, ppt, ...
df = pd.read_csv('teams.csv') # bisa dari link langsung, ganti dalem '' jadi link

print(df)

In [ ]:
df.head() # ambil sample sebanyak 5 data teratas, dalem kurung berapa banyak data yg mau, default 5

In [ ]:
df.tail() # ambil sample dari terakhir sebanyak 5 data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   division     252 non-null    object
 1   conference   252 non-null    object
 2   school_name  252 non-null    object
 3   roster_url   252 non-null    object
 4   id           252 non-null    int64
dtypes: int64(1), object(4)
memory usage: 10.0+ KB

In [6]:
df.shape

(252, 5)

In [8]:
df.describe() # buat statistik, nanti pas itung-itungan

               id
count  252.000000
mean   126.500000
std     72.890329
min      1.000000
25%     63.750000
50%    126.500000
75%    189.250000
max    252.000000

In [9]:
df.columns # cek isi column ada apa aja

Index(['division', 'conference', 'school_name', 'roster_url', 'id'], dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=252, step=1)

In [11]:
df.isnull() # cek data ada yang null ga, harus semua false (data ada)

     division  conference  school_name  roster_url     id
0       False       False        False       False  False
1       False       False        False       False  False
2       False       False        False       False  False
3       False       False        False       False  False
4       False       False        False       False  False
..        ...         ...          ...         ...    ...
247     False       False        False       False  False
248     False       False        False       False  False
249     False       False        False       False  False
250     False       False        False       False  False
251     False       False        False       False  False

[252 rows x 5 columns]

In [12]:
df.nunique() # mau lihat jumlah unique data

division         2
conference      25
school_name    252
roster_url     252
id             252
dtype: int64

In [13]:
df.value_counts()

division                   conference  school_name             roster_url                                       id
FBS (Division I-A Teams)   ACC         Boston College          http://espn.go.com/ncf/teams/roster?teamId=103   11     1
                                       Clemson                 http://espn.go.com/ncf/teams/roster?teamId=228   12     1
                                       Duke                    http://espn.go.com/ncf/teams/roster?teamId=150   13     1
                                       Florida State           http://espn.go.com/ncf/teams/roster?teamId=52    14     1
                                       Georgia Tech            http://espn.go.com/ncf/teams/roster?teamId=59    15     1
                                                                                                                      ..
FCS (Division I-AA Teams)  Southland   Nicholls State          http://espn.go.com/ncf/teams/roster?teamId=2447  238    1
                                       Northwestern State      http://espn.go.com/ncf/teams/roster?teamId=2466  239    1
                                       Sam Houston State       http://espn.go.com/ncf/teams/roster?teamId=2534  240    1
                                       Southeastern Louisiana  http://espn.go.com/ncf/teams/roster?teamId=2545  241    1
                                       Stephen F. Austin       http://espn.go.com/ncf/teams/roster?teamId=2617  242    1
Name: count, Length: 252, dtype: int64

In [17]:
df.division.value_counts()

division
FBS (Division I-A Teams)     126
FCS (Division I-AA Teams)    126
Name: count, dtype: int64

In [ ]:
df.sort_values(by='id', ascending=False) # sort berdasarkan id -> def : asc, kalo pengen dec, diisi false

In [ ]:
df.sort_values(by=['id', 'school_name'], ascending=[False, True]) #multiple column

In [25]:
# square bracket buat nampilin column
new_df = df[['conference', 'division', 'id']]

# bisa juga, tapi cuma bisa 1 column
df.division

0       FBS (Division I-A Teams)
1       FBS (Division I-A Teams)
2       FBS (Division I-A Teams)
3       FBS (Division I-A Teams)
4       FBS (Division I-A Teams)
                 ...
247    FCS (Division I-AA Teams)
248    FCS (Division I-AA Teams)
249    FCS (Division I-AA Teams)
250    FCS (Division I-AA Teams)
251    FCS (Division I-AA Teams)
Name: division, Length: 252, dtype: object

In [26]:
# access row .iloc[]
new_df.iloc[5:11]

           conference                  division  id
5   American Athletic  FBS (Division I-A Teams)   6
6   American Athletic  FBS (Division I-A Teams)   7
7   American Athletic  FBS (Division I-A Teams)   8
8   American Athletic  FBS (Division I-A Teams)   9
9   American Athletic  FBS (Division I-A Teams)  10
10                ACC  FBS (Division I-A Teams)  11

In [27]:
# mengubah index df
new_df2 = df.set_index('school_name')

In [ ]:
# accessing row, loc[]
new_df2.loc['Houston':'Memphis']

In [37]:
# filtering
df[(df.conference =='American Athletic') & (df.school_name == 'Memphis')]

,division,conference,school_name,roster_url,id
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5

In [39]:
# filtering
cond1 = df.conference =="American Athletic"
cond2 = df.school_name == 'Memphis'
df[cond1 & cond2]

,division,conference,school_name,roster_url,id
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5

In [44]:
df.query("conference =='American Athletic'and school_name == 'Memphis'")

,division,conference,school_name,roster_url,id
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5

In [45]:
#where school_name in ('Cincinnati', 'Rutgers', 'Temple')
df[df.school_name.isin(['Cincinnati', 'Rutgers', 'Temple'])]

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
5,FBS (Division I-A Teams),American Athletic,Rutgers,http://espn.go.com/ncf/teams/roster?teamId=164,6
8,FBS (Division I-A Teams),American Athletic,Temple,http://espn.go.com/ncf/teams/roster?teamId=218,9

In [46]:
# where school_name like '%ford%'
df[df['school_name'].str.contains('ford')]

,division,conference,school_name,roster_url,id
98,FBS (Division I-A Teams),Pac-12,Stanford,http://espn.go.com/ncf/teams/roster?teamId=24,99
231,FCS (Division I-AA Teams),Southern,Samford,http://espn.go.com/ncf/teams/roster?teamId=2535,232
233,FCS (Division I-AA Teams),Southern,Wofford,http://espn.go.com/ncf/teams/roster?teamId=2747,234

In [47]:
df.loc[df.conference =="American Athletic", 'school_name']

0            Cincinnati
1           Connecticut
2               Houston
3            Louisville
4               Memphis
5               Rutgers
6         South Florida
7    Southern Methodist
8                Temple
9                   UCF
Name: school_name, dtype: object

In [48]:
# tambah kolom baru dengan values
df['new_column'] = df.id + 100

In [55]:
new_data = {
        'division':'abc',
        'id':999
}
df._append(new_data, ignore_index=True)

,division,conference,school_name,roster_url,id,new_column
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1,101.0
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2,102.0
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3,103.0
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4,104.0
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5,105.0
...,...,...,...,...,...,...
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249,349.0
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250,350.0
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251,351.0
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252,352.0
252,abc,NaN,NaN,NaN,999,NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   division     252 non-null    object
 1   conference   252 non-null    object
 2   school_name  252 non-null    object
 3   roster_url   252 non-null    object
 4   id           252 non-null    int64
 5   new_column   252 non-null    int64
dtypes: int64(2), object(4)
memory usage: 11.9+ KB