In [4]:
#import library

import pickle
import json
import pandas as pd
import numpy as np

In [5]:
!pip show scikit-learn

Name: scikit-learn
Version: 1.5.2
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License: BSD 3-Clause License

Copyright (c) 2007-2024 The scikit-learn developers.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Users\MSI\miniconda3\envs\hacktiv8_ftds\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: feature-engine

### load model

In [6]:
#Load model

with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_col = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_col = json.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('scaler.pkl', 'rb') as file_4:
  model_scaler = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

###Inferece

In [7]:
 #Create new data
#Gunakan keseluruhan data

data_inf = {
    'Name' : 'Hana',
    'Age' : 50,
    'Height' : 180,
    'Weight' : 70,
    'Price' : 30000000,
    'AttackingWorkRate' : 'Medium',
    'DefensiveWorkRate' : 'Low',
    'PaceTotal' :60,
    'ShootingTotal': 80,
    'PassingTotal' : 30,
    'DribblingTotal' :70,
    'DefendingTotal' :60,
    'PhysicalityTotal':80,
}

data_inf = pd.DataFrame([data_inf])
data_inf

,Name,Age,Height,Weight,Price,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Hana,50,180,70,30000000,Medium,Low,60,80,30,70,60,80

In [8]:
#split between numerical and categorical columns

data_inf_num = data_inf[list_num_col]
data_inf_cat = data_inf[list_cat_col]
data_inf_num

,Age,Height,Weight,Price,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,50,180,70,30000000,60,80,30,70,60,80

In [9]:
#feature scaling and encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [10]:
#predict using linear reg model

y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([82.33040143])